@use '@/style/main.scss';
@use '@/style/reset';

@tailwind base;
@tailwind components;
@tailwind utilities;

.ape-body-h {
  min-height: calc(100% - 3rem);
}

.ape-container {
  height: calc(100% - 3.5rem);
}
.ape-container2 {
  height: calc(100% - 3.5rem);
}

.ape-volo-bg {
  @apply bg-gray-50 text-gray-700 dark:text-gray-300 dark:bg-gray-800;
}

.ape-volo-content {
  @apply bg-white text-gray-700 dark:text-gray-300 dark:bg-gray-900;
}

.ape-volo-search {
  @apply bg-white text-gray-700 dark:text-gray-300 dark:bg-gray-900 rounded mb-4 mt-4 p-4;
}

.ape-volo-btn-list {
  @apply mb-3 flex items-center;
}

.ape-volo-table {
  @apply p-4 bg-white text-gray-700 dark:text-gray-300 dark:bg-gray-900 rounded my-2;
  .el-table {
    @apply border border-solid border-gray-300 dark:border-gray-600 rounded;
    tr {
      th {
        @apply bg-white dark:bg-gray-900;
        .cell {
          @apply leading-[36px] text-gray-700 dark:text-gray-300;
        }
      }
    }
    .el-table__row {
      td {
        @apply bg-white dark:bg-gray-900;
        .cell {
          @apply leading-[32px] text-gray-700 dark:text-gray-300;
        }
      }
    }
    tr {
      th {
        &.is-leaf {
          @apply bg-gray-100 dark:bg-gray-950 !important;
        }
      }
    }
  }
}

.el-button {
  font-weight: 400 !important;
}

.el-drawer__header {
  margin-bottom: 0 !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  @apply border-0 border-b border-solid border-gray-100;
}

.el-form--inline {
  .el-form-item {
    & > .el-input,
    .el-cascader,
    .el-select,
    .el-date-editor,
    .el-autocomplete {
      @apply w-52;
    }
  }
}

.el-dropdown {
  @apply overflow-hidden;
}

.el-pagination {
  @apply mt-8;
  .btn-prev,
  .btn-next {
    @apply border border-solid border-gray-300 dark:border-gray-700 rounded;
  }
  .el-pager {
    li {
      @apply border border-solid border-gray-300 dark:border-gray-600 rounded text-gray-600 text-sm mx-1;
    }
  }
}

.el-menu {
  li {
    @apply my-1;
  }
}

.el-menu--vertical {
  .el-menu-item {
    border-radius: 2px;
    &.is-active {
      background-color: var(--el-color-primary) !important;
      color: #fff !important;
    }
  }
}

.el-sub-menu.el-sub-menu__hide-arrow {
  height: 44px;
}

.el-tabs__header {
  margin: 0 0 1px !important;
}

.el-sub-menu.is-active {
  > .el-sub-menu__title {
    background-color: var(--el-color-primary-light-9) !important;
    color: var(--el-color-primary) !important;
  }
}

// .el-menu-item.is-active {
//   background-color: var(--el-color-primary) !important;
//   color: var(--el-color-primary) !important;
// }

.el-sub-menu__title.el-tooltip__trigger,
.el-menu-item .el-menu-tooltip__trigger {
  justify-content: center;
}

.el-menu--horizontal .el-menu .el-sub-menu__title {
  justify-content: flex-start;
}

.el-input__wrapper:hover,
.el-input.is-hover .el-input__wrapper {
  box-shadow: 0 0 0 1px var(--el-color-primary) !important;
  border-color: var(--el-color-primary) !important;
}

.el-select__wrapper:hover,
.el-select.is-hover .el-select__wrapper {
  box-shadow: 0 0 0 1px var(--el-color-primary) !important;
  border-color: var(--el-color-primary) !important;
}

.el-radio:hover,
.radio.is-hover {
  box-shadow: var(--el-color-primary) !important;
  border-color: var(--el-color-primary) !important;
}

.el-button,
.el-radio,
.el-input__wrapper,
.el-select__wrapper,
.el-tabs__item {
  border-radius: var(--ape-volo-radius) !important;
}
